services:
  nginx:
    build:
        context: .
        dockerfile: docker/nginx/Dockerfile
    image: ghcr.io/luka-lta/luka-lta-api/api-nginx:dev
    container_name: 'nginx-luka-lta'
    ports:
      - '80:80'
    volumes:
      - ./public:/app/public:rw
      - ./docker/nginx/nginx-development.conf:/etc/nginx/conf.d/default.conf
    links:
      - php-fpm-api
    networks:
      - lukaLta-shared

  php-fpm-api:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: development
    image: ghcr.io/luka-lta/luka-lta-api/api-php-fpm:dev
    container_name: 'php-fpm-luka-lta'
    working_dir: /app
    environment:
      APP_ENV: 'development'
      MYSQL_DATABASE: 'luka_lta_api'
      MYSQL_HOST: 'mysql-luka-lta'
      MYSQL_USER: 'testing'
      MYSQL_PASSWORD: '1234'
      REDIS_HOST: 'redis-luka-lta'
      REDIS_PORT: '6379'
      REDIS_PASSWORD: '1234'
      JWT_SECRET: 'D17c14F3ff!470cEbe5f85df1efc966b0Fcdc@2096'
      JWT_NORMAL_EXPIRATION_TIME: 86400
      JWT_EXTENDED_EXPIRATION_TIME: 604800
      LOG_LEVEL: 'debug'
      LOG_FILE_PATH: '/app/logs'
      AWS_ACCESS_KEY_ID: 'minioadmin'
      AWS_SECRET_ACCESS_KEY: 'minioadmin'
      AWS_VERSION: 'latest'
      AWS_REGION: 'us-east-1'
      AWS_ENDPOINT: 'http://minio:9000'
      AWS_BUCKET: 'avatars'
    volumes:
      - ./:/app:rw
    networks:
      - lukaLta-shared

  mysql:
    image: mysql
    container_name: 'mysql-luka-lta'
    hostname: mysql-luka-lta
    environment:
      MYSQL_DATABASE: 'luka_lta_api'
      MYSQL_USER: 'testing'
      MYSQL_PASSWORD: '1234'
      MYSQL_ROOT_PASSWORD: '1234'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - lukaLtaData:/var/lib/mysql:rw
      - ./data/mysql:/docker-entrypoint-initdb.d/:ro
    networks:
      - lukaLta-shared

  phpmyadmin:
    image: phpmyadmin
    container_name: 'pma-luka-lta'
    links:
      - mysql
    environment:
      PMA_HOST: mysql-luka-lta
      PMA_PORT: 3306
      PMA_ARBITRAY: 1
    ports:
      - '8081:80'
    networks:
      - lukaLta-shared

  redis:
    image: redis:7.4.1
    container_name: 'redis-luka-lta'
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: 1234
    command: [ "redis-server", "--requirepass", "$$REDIS_PASSWORD" ]
    networks:
      - lukaLta-shared
    volumes:
      - redis_data:/data

  minio:
    container_name: minio
    image: "quay.io/minio/minio:RELEASE.2025-04-08T15-41-24Z"
    platform: linux/amd64
    command: [ "server", "/data", "--console-address", ":19000" ]
    volumes:
      - minio-data:/data
    networks:
      - lukaLta-shared
    ports:
      - "19000:19000"

  clickhouse:
    container_name: clickhouse
    image: clickhouse/clickhouse-server:25.4.2
    volumes:
      - clickhouse-data:/var/lib/clickhouse
    environment:
      - CLICKHOUSE_DB=${CLICKHOUSE_DB:-analytics}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER:-default}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD:-frog}
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8123/ping"]
      interval: 3s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

volumes:
  lukaLtaData:
  redis_data:
  minio-data:
  clickhouse-data:

networks:
  lukaLta-shared:
    driver: bridge