services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    image: ghcr.io/luka-lta/luka-lta-api/api-nginx:production
    platform: linux/amd64

  php-fpm:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: development
    image: ghcr.io/luka-lta/luka-lta-api/api-php-fpm:production
    platform: linux/amd64

networks:
  lukaLta-shared:
    driver: bridge